/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#top-text {
  color: black;
  margin-top: -2px;
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.space-even {
  justify-content: space-evenly;
  align-items: top;
  min-width: 100vw;
  
}

.header1 {
  font-size: 72px;
}

.header {
  font-size: 36px;
}

.details{
  height: 100px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255,255,255,0.1);
}

.glass {
  justify-content: center;
  text-align: center;
  font-size: 36px;
}
.activities {
  text-align: center;
  justify-content: center;

}


.price {
  text-align: center;
  justify-content: center;

}

.participants {
  text-align: center;
  justify-content: center;

}

#image {
  text-align: center;
}

#image-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.search-again{
text-align: center;}

.hide {
  display:none;

}

#hide {
  display: none;
}

.priceEl {
  font-size: 60px;
  font-family: 'Lobster', cursive;
}

.activity {
  font-family: 'Lobster', cursive;
}